.homepage{
    display: flex;
    flex-direction: row;
}

/* #bg-video ,.content{
    position:fixed;
    top:0; left:0; width:50%; height:50%;
    z-index:0;
    opacity: 80%;
  } */


.homepage__nav{
    flex: 0.2;


}

.homepage__timeline{
    flex: 0.8;

    
}