@import url('https://fonts.googleapis.com/css?family=Cinzel|Old+Standard+TT|Orbitron|Oswald|Righteous|Sigmar+One&display=swap');

* {
  font-family: Orbitron;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://i.ibb.co/99QfKs1/Optical-Background.jpg"); /* Added background image */
  background-size: cover;
  background-position: center;
}

.app {
  width: 80vw;
  height: 80vh;
  margin: 10vw;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  min-height: 95vh;
}

.search-result {
  margin-top: 20px;
  overflow: auto;
}

.surprise {
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
  background-color: #004466;
  color: #000;
  border-radius: 999px;
  font-weight: 600;
  padding: 8px 18px;
  margin: 0 20px 2px 15px;
  color: #e4e27a;
  border: 1px solid #00ffa2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-container {
  display: flex;
  width: 80%;
  margin-left: 20px;
  min-height: 2.5rem;
  background-color: #1e2122;
  border: solid 0.5px #cacaca;
  box-sizing: border-box;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: hidden;
}

.input-container input {
  width: 90%;
  padding: 13px 14px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 200;
  color: #4769a8;
}

.input-container input::placeholder {
  color: #666;
  font-weight: 200;
}

.input-container button {
  min-width: 10%;
  background-color: #af3d4d;
  border: none;
  border-left: 1px solid #cacaca;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #f8de59;
}

.input-container button:active {
  background-color: #564c8b;
}

button:hover {
  background-color: #00ffa2;
  color: #000;
}

button:active {
  background-color: #cacaca;
}

.answer {
  padding: 13px 14px;
  background-color: #1e2122;
  margin: 5px;
  font-size: 18px;
  font-weight: 200;
  border-radius: 6px;
  color: #ececf1;
}

.video-container {
  width: calc(25% - 1em); /* Reduced video width to 25% of screen width minus 1em of padding */
  height: calc(12.5% - 1em); /* Reduced video height to 12.5% of screen height minus 1em of padding */
  position: absolute;
}

@media (max-width: 768px) {
  #video-container {
    width: calc(50% - 1em); /* Adjust width for smaller screens to 50% minus 1em of padding */
  }
}